<div class="left-wrap" style="border-bottom: 2px solid #000000; padding-bottom: 20px; margin: 20px 0;">
    <a href="/admin/">首页</a><br>
    <a href="/admin/banner">banners管理</a><br>
    <a href="/admin/custom">用户评价</a><br>
</div>